src/*.exe
src/infocoin
src/infocoind
src/test_info
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.P
*.patch
*.dat
*.autosave
.infocoin
#compilation and Qt preprocessor part
*.qm
Makefile
info
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
